# Core libraries
streamlit
joblib
numpy
scipy
scikit-learn
lightgbm

# For brain tumor classification model (using TensorFlow and image processing)
tensorflow
pillow

# For Jupyter notebook display in Streamlit
nbformat
nbconvert
